@import url('../StyleVariables/Color.css');

.cont-pri-perf {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
}

.editar-perfil-container {
    width: 42%;
    height: 65%;
    margin: 20px;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-changes {
    padding: 10px 50px;
    border-radius: 25px;
    bottom: 8%;
    position: fixed;
    margin-top: 8%;
    background-color: var(--primary-color);
    color: var(--buttonOn-font-color);
    border: none;
    box-shadow: var(--shadow-down);
}