@import url('../../StyleVariables/Color.css');

.seccion-desplazable {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 8px;
 
}

.botones-radio {
    margin-bottom: 20px;
}

.seccion-desplazable h2 {
    width: 100%;
    word-wrap: break-word;
    margin-bottom:20px; 
}
  
.radio-label {
    margin-right: 20px;
    cursor: pointer;
}

#pronombres{
  padding: 15px;
  border: 1px solid var(--primary-color);
}

.seccion-desplazable h2{
  font-size: 150%;
}