.genero-home-container {
    display: flex;
    flex-direction: column;
    align-items: start;    
    margin: 0px 20px;
  }
  
  .ubicacion-container {
    display: flex;
    align-items: center;
  }
  
  .ubicacion-container img {
    width: 20px;
    margin-right: 10px;
  }