.genero-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 335px;
  }
  
  .ubicacion-container {
    display: flex;
    align-items: center;
  }
  
  .ubicacion-container img {
    width: 20px;
    margin-right: 10px;
  }