@import url('../../../StyleVariables/Color.css'); 

.Principal-container {
    position: relative;
    padding: 20px;
    background-size: cover;
    background-position: center; 
}

.botoness {
    position: absolute;
    right: 10px;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
}

/* .flechaiz {
    position: absolute;
    left: -560px;
    top: 50%;
    transform: translateY(-50%);
} */

.bot9 {
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center; 
}

.atras, .chat, .siguiente {
    display: inline-block;
    margin: 0 20px; 
}

.chat {
    background-color: var(--primary-color);
    color: var(--buttonOn-font-color); 
    transition: background-color 0.3s, color 0.3s;   
    
}

.chat:hover {
    background-color: var(--primary-color-hover);

}

.atras,
.siguiente {
    background-color: transparent;
    border: none; 
    padding: 0; 
    cursor: pointer;
    display: inline-block; 

}

.atras img,
.siguiente img {
    width: 50px; 
    height: auto; 
    margin-bottom: 5px; 
}



@media (max-width: 500px) {

    .flechaiz {
        position: absolute;
        left: -295px; 
        top: 50%;
        transform: translateY(-50%);
        width:35px;
    }
    

}