:root {
    --primary-color: #C32454;
    --primary-color-opacity: rgb(195, 36, 84, 0.6);
    --primary-color-hover: #920630;
    --secondary-color: #107B50;
    --secondary-color-hover: #0c603e;
    --terciary-color: #934BDB;
    --background-color: #fcfcfc;
    --background-color-opacity:rgba(252, 252, 252, 0.612);
    --background-black-opacity:rgba(0, 0, 0, 0.5);
    --windows-color: #f2f2f2;
    --buttonOn-font-color: #F7F6F6;
    --regular-font-color: #000000;
    --placeholder-font-color: #79767D;
    --buttonOff-font-color: #817E85;
    --buttonOff-color: #CAC5CD;
    --error-color: #B90000;
    --error-color-back: #b9000027;
    --shadow-down: 0px 8px 15px rgba(0, 0, 0, 0.3);
    --shadow-left: 8px 0px 15px rgba(0, 0, 0, 0.3);
}



.dark {
    --primary-color: #DE657F;
    --primary-color-opacity: rgb(222, 101, 127, 0.6);
    --primary-color-hover: #c43b59;
    --secondary-color: #5AE9B0;
    --secondary-color-hover: #269e6e;
    --terciary-color: #B990E2;
    --background-color: #322f35;
    --background-color-opacity:hsla(270, 6%, 20%, 0.611);
    --background-black-opacity:rgba(0, 0, 0, 0.5);
    --windows-color: #1D1B20;
    --regular-font-color: #F7F6F6;
    --placeholder-font-color: #79767D;
    --buttonOn-font-color: #000000;
    --buttonOff-font-color: #1D1B20;
    --buttonOff-color: #48464C;
    --error-color: #FE4545;
    --error-color-back: #fe454529;
    --shadow-down: 0px 8px 15px rgba(0, 0, 0, 0.3);
    --shadow-left: 8px 0px 15px rgba(0, 0, 0, 0.3);
}