.letter, .letter2 {
    color: #000;
    font-weight: bold;
    text-align: center;
}

.letter {
    font-size: 30px; 
    text-align: center;
}

.letter2 {
    font-size: 20px; 
    margin-left: 0; 
    text-align: center;
}

.letter20{
    font-size: 20px;
    text-align: center;
}

.letter18{
    font-size: 18px;
    text-align: center;
}

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border-color: #000;
    z-index: 1000; 
}

  
.modal { 
    background-color: white;
    padding: 75px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    border: 1px solid #000; 
}

.modal-header {
    margin-bottom: 20px; 
    margin-left: 24px;
    text-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #000; 
}

  
.close-button {
    position: relative;
    top: 1px; 
    right: 1px;
    left: 110px; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}
  
.modal-content {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    border-color: #000;
}

.modal{
text-align: center;
border-color: #000;
}
  
.searching-for,
.filter-options,
.age-range,
.physical-activity {
    margin-bottom: 10px;
    border-color: #000; 
    border-radius: 8px;
    padding: 8px;
    display: block;
    border-color: #b53550; 
    border-style: solid;
    font-size: 18px;
    text-align: center;
}

.filter-options  {
    border-radius: 8px;
    padding: 8px;
    display: block;
    border-color: #b53550; 
    border-style: solid; 
    text-align: center;
  }

.save-button {
    margin-top: 20px;
    font-size: 20px;
    background-color: #b53550;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.save-button:hover {
    background-color: #8f0202; 
    
}

.div-pequeno {
    width: 270px;
    height: 130px;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
    margin-left: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 15px;
    font-weight: bold; 
    font-style: italic; 
}

  
.availability-container{
    border-radius: 8px;
    padding: 10px;
    display: block;
    border-color: #b53550; 
    border-style: solid; 
    color: #000;
    font-size: 15px; 
    font-weight: bold;
    
}

.availability-container2{
    border-radius: 8px;
    padding: 10px;
    display: inline-block;
    border-color: #b53550; 
    border-style: solid; 
    color: #000;
    font-size: 15px; 
    font-weight: bold;
    margin-left: 10px;
}

.large-button {
    margin-top: 1px;
    background-color: #b53550;
    color: #fff;
    border: none;
    padding: 7px 70px; 
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s; 
}
  
.large-button:hover {
    background-color: #8c293e;/
}


.categoria {
    margin-bottom: 10px;
}
  
.nombre {
    font-weight: bold;
}