@import url('../../StyleVariables/Color.css');

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-black-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-preferences {
    position: relative;
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 25px;
    box-shadow: var(--shadow-down);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--regular-font-color);
}




.close-button-ch {
    position: absolute;
    right: 30px;
    top: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    color: var(--regular-font-color);
}



.letter {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--regular-font-color);
}

.letter2 {
     text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    color: var(--regular-font-color);
}


.searching-for,
.filter-options,
.age-range,
.physical-activity,.availability-container {
    margin: 10px;
    border-radius: 25px;
    padding: 15px;
    display: block;
    border: 2px solid var(--primary-color-opacity) ;
    text-align: center;
    color: var(--regular-font-color);
}
.availability-container p{
    font-weight: bold;
}

p {
    color: var(--regular-font-color);
}



.save-button {
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--buttonOn-font-color);
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    color: var(--regular-font-color);
}

.save-button:hover {
    background-color:var(--primary-color-hover);

}

.div-pequeno {
    width: 270px;
    height: 130px;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

/* .availability-container2 {
    border-radius: 8px;
    padding: 8px;
    display: block;
    border-color: var(--primary-color);
    border-style: solid;
    
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
} */

.large-button {
    margin-top: 1px;
    background-color: var(--primary-color);
    color: var(--buttonOn-font-color);
    border: none;
    padding: 7px 70px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
}

.large-button:hover {
    background-color: #8c293e;
}


.availability-options{
    text-align: end;
    background-color: #8c293e;
}

.age-input {
    margin: 10px;
}

input{
    border-radius: 5px;
}