@import url('../../../StyleVariables/Color.css'); 

.genero-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .gender{
    background-color: blue;
    color: var(--secondary-color-hover);

  }

  .ubicacion-container {
    display: flex;
    align-items: center;
    
  }
  
  .ubicacion-container img {
    width: 20px;
    margin-right: 10px;
  }