@import url('../../StyleVariables/Color.css'); 

.descrip-home-container {
    text-align: left;
    margin: 20px;
    
}
  
.descrip-title {
    font-size: 21px;
    font-weight: bold;
    margin-right: 60px;
    color: var(--regular-font-color);
}
  
.descrip-text {
    font-weight: Roboto regular;
    font-size: 19px;
    line-height: 1.5;
}