.titulo-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: -1060px; 
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: -1060px; 
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.icono-cont {
    display: flex;
    align-items: center; 
    margin-left: 300px;
    cursor: pointer;
}

.Sub-chat {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}
  
.titulo {
    font-size: 44.79px; 
    font-weight: bold; 
    line-height: 1; 
    margin-left: 300px; 
    margin-left: 300px; 
}
