@import url('../../StyleVariables/Color.css'); 
.input-label-com {
    margin: 15px;
}

.componte-tex  {
    width: 230%;
    max-width: 450px;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid  var(--primary-color);
    margin-top: 15px;
}
