@import url('../../StyleVariables/Color.css'); 
.input-label-com {
    margin-right: -5%;
}

.componte-tex  {
    width: 220%;
    max-width: 188%;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid  var(--primary-color);
    margin-top: 15px;
    margin-left: -48%;
}
