.preferencias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .preferencia-btn {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #eaeaea; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .preferencia-btn:hover {
    background-color: #d5d5d5; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  }
  
  .icono {
    width: 30px;
    margin-right: 10px;

  }