@import url('../../Components/StyleVariables/Color.css'); 

.contedor-pri {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
}

.main-and-menu{
    display: flex;
    flex-direction: column;

}

.match-profile{
    display: flex;
    flex-direction: row;

}

.Home-container {
    width: 60vw ;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 50px;
    margin-left: 270px;
    margin-top: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    
}


/* mobile */
@media (max-width: 500px){

    
    .Home-container{
        /* align-self: flex-start; */
        margin: 0px;
        width: 95% ;
        height: auto;
        overflow-y: unset;
        overflow-x: unset;
        font-size:15px;
        text-align: start;
    }
    .match-profile{
        display: flex;
        flex-direction: column-reverse;
        overflow-y: auto;
        overflow-x: hidden;

    }

}