@import url('../../Components/StyleVariables/Color.css'); 

.footer {
    color:var(--regular-font-color); 
    padding: 20px;
    text-align: center; 
    font-weight: bold;
    margin-top: 100px;
  }

  hr{

    margin-bottom: 100px;
  }

.sobre-nosotros {
  font-size: 21.6px;
  padding: 100px;
}