@import url('../../StyleVariables/Color.css'); 

.ti-pri-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: -1060px;
}
  
.logo-conte2 {
    display: flex;
    align-items: center; 
    margin-left: 300px;
}
  
.log1 {
    width: 80px;
}
  
.tituChat {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}
  
.bot-container {
    display: flex;
    align-items: center;
    margin-left: 800px;
}

.bot-f{
    padding: 10px 50px;
    background-color: var(--primary-color);
    color: var(--buttonOn-font-color); 
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
}

.bot-f:hover {
    background-color:var(--primary-color-hover);
}

    


/* pantalla grande  */
@media (max-width: 1600px) {
    .ti-pri-container {
        margin-top: -925px;
    }

    .bot-container {
        margin: 0px 90px 0px 0px;
    } 
}


/* pantalla chica */
@media (min-width: 1601px) and (max-width: 2800px) {
    .ti-pri-container {
        margin-top: -920px;
    }

    .bot-container {
        margin: 0px 160px 0px 0px;
    }
}

 /* 3era pantalla de prueba G */
@media (min-width: 1000px) and (max-width: 1599px){
    .bot-container {
        margin: 0px 50px 0px 0px;
    }
    .logo-conte2 {
        margin-left: 150px;
    }
    .tituChat{
        font-size:37.32px;
    }
    .log1 {
        width: 50px;
    }
    .bot-f{
        padding: 10px 50px;
        font-size: 15px;
    }
    .ti-pri-container {
        margin-top: -545px;
    }



}
@media (max-width: 700px){
    .ti-pri-container {
        margin:110px -80px 10px 0px;
        display: flex;
        justify-content: end;
    }
    .logo-conte2 {
        margin-left: 0px;
        display: none;
    }
    

}